<head>
	<meta charset="utf-8">
	<title>imgeus</title>
	<meta name="description" content="">

	<!-- HTML5 shim, for IE6-8 support of HTML elements -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

<!-- styles -->

<link href="libs/foundation/css/foundation.css" rel="stylesheet">
<link href="libs/foundation/foundation-icons.css" rel="stylesheet"/>
<link href="stylesheets/style.css" rel="stylesheet">

<script src="libs/foundation/js/vendor/custom.modernizr.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="libs/foundation/js/foundation.min.js"></script>
<script src="js/scripts.js" type="text/javascript"></script>

</head>