<!DOCTYPE html>
<html lang="en">
<% include head %>
<body>
	<div id="contents">

	<div id="main">	
		<div class="login_contents">
			<div class="row">
				<img id="login_logo" src="assets/logo.png"/>
			</div>
			<div class="row">
				<div class="col-md-4 col-md-offset-1">
					<h1 class="white">Login</h1>
					<form class="login_forms" action="/login" method="post">
						<input class="form-control" placeholder="Username" type="text" name="email"/>
						<input class="form-control" placeholder="Password" type="password" name="password"/>
						<input class="form-control" type="submit" value="Login"/>
					</form>
				</div>
				<div class="col-md-4 col-md-offset-2">
					<h1 class="white">Register</h1>
					<form class="login_forms" action="/signup" method="post">
						<input class="form-control" placeholder="Username" type="text" name="email"/>
						<input class="form-control" placeholder="Password" type="password" name="password"/>
						<input class="form-control" type="submit" value="Register"/>
					</form>
				</div>
			</div>
			<div id="login_left_column" class="row">
				<div class="col-md-4 col-md-offset-1">
					<span class="glyphicon glyphicon-question-sign white"></span>
					<a href="">Forgot Username or Password?</a>
					<a href="/auth/facebook">Login with Facebook</a>
				</div>
			</div>
		</div>
	</div>

	</div>
	<% include footer %>
	
</body>

</html>
