<link href="stylesheets/menu.css" rel="stylesheet">

<div class="row">
	<div id="menu_container" class="large-12 columns">
	<div class="row">
		<div class="large-2 columns">
			<a href='/'><img id="menu_logo" src="assets/logo_small.png"/></a>
		</div>
		<div class="large-1 large-offset-9 columns">
			<a href='/settings'><div class="menu_icon fi-widget white"></div></a>
			<a id="menu_logout" href='/logout'>
				<div class="menu_icon fi-unlock white" style="margin-left: 48px;"></div>
			</a>
		</div>
	</div>

	</div>
</div>