<!DOCTYPE html>
<html lang="en">
<% include head %>
<body>
	<div id="contents">
		<% include menu %>
<!-- 		<p>User info:</p>
		<%= user.uploads %>

		<p>urls:</p>
		<%= urls %> -->

		<link href="libs/swipebox/swipebox.css" rel="stylesheet" />
		<link href="stylesheets/gallery.css" rel="stylesheet">


		<div id="loading"></div>

		<div id="gallery"></div>
		<div id="instructions">Upload more by dragging and dropping onto this screen.</div>

		<!-- JavaScript Includes -->

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script type="text/javascript" src="libs/swipebox/jquery.swipebox.min.js"></script>
		<script type="text/javascript" src="libs/jquery.loadImage.js"></script>
		<script type="text/javascript" src="js/gallery.js"></script>
	</div>
	
</body>

</html>


