*{
	margin:0;
	padding:0;
}
html{
	background-color: #F4F4F4;
	overflow:hidden;
}

body{
	font:15px/1.3 Arial, sans-serif;
	color: #4f4f4f;
}

a, a:visited {
	outline:none;
	color:#389dc1;
}

a:hover{
	text-decoration:none;
}

section, footer, header, aside{
	display: block;
}


#loading{
	display:none;
	width:40px;
	height:40px;
	background:url(../assets/preloader.gif) no-repeat center center;
	position:fixed;
	top:50%;
	left:50%;
	margin:-20px 0 0 -20px;
}

#gallery{
/*	position:relative;
	top:70;
	left:0;*/
	width:100%;
	height:100%;
}

#gallery a{
	opacity:0;
	float:left;
	background-size:cover;
	background-position: center center;

	-webkit-transform:scale(0.8);
	-moz-transform:scale(0.8);
	transform:scale(0.8);

	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	transition:0.4s;
}

#gallery a.static:hover,
#gallery a.show:hover{
	opacity:0.9 !important;
}

#gallery a.static{
	opacity:1;

	-webkit-transform:none;
	-moz-transform:none;
	transform:none;

	-webkit-transition:opacity 0.4s;
	-moz-transition:opacity 0.4s;
	transition:opacity 0.4s;
}

#gallery a.next,
#gallery a.prev{
	background-color:#333;
	cursor:pointer;
}

#gallery a.next{
	background-image:url('../assets/arrow_next.jpg');
}

#gallery a.prev{
	background-image:url('../assets/arrow_prev.jpg');
}

#gallery a.show{
	opacity:1;

	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	transform:scale(1);
}

#instructions {
	position: absolute;
	color: rgba(255,255,255,0.5);
	bottom: 60px;
	left: 50%;
	margin-left: -180px;
}
