html {
	background-color: #11001C;
	/*background-image: url("../assets/bg.jpg");*/
	background-size: cover;
}
body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.center{
	position: fixed;
	top: 50%;
	left: 50%;
	width: 450px;
	height: 200px;
	text-align: center;
	margin-top: -100px;
	margin-left: -225px;
}

#upload_form {
	margin-top: 20px;
}