/*
 o8o                    .o8                        
 `"'                   "888                        
oooo  ooo. .oo.    .oooo888   .ooooo.  oooo    ooo 
`888  `888P"Y88b  d88' `888  d88' `88b  `88b..8P'  
 888   888   888  888   888  888ooo888    Y888'    
 888   888   888  888   888  888    .o  .o8"'88b   
o888o o888o o888o `Y8bod88P" `Y8bod8P' o88'   888o 
*/
body {
	/*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
	/*font:15px/1.3 'PT Sans', sans-serif;*/
	position:relative;
    z-index:0;

    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
}

.white, .white a {
  color: #fff;
}

#login_btn_container {
	background-color: #242424;
	width: 120px;
	height: 40px;
	position: fixed;
	top: 0px;
    right: -60px;
    cursor: pointer;
    -webkit-transition: right 0.2s ease-in-out;
	-moz-transition: right 0.2s ease-in-out;
	-o-transition: right 0.2s ease-in-out;
	transition: right 0.2s ease-in-out;
}

#login_btn_container:hover {
	right: 0px;
}

#login_text {
	position: absolute;
	top: 10px;
	left: 60px;
}

#login_btn {
	position: absolute;
	top: 6px;
	left: 20px;
    vertical-align: middle;
    font-size: 28px;
}
#contents {
    position:relative;
    z-index:1;
    background-image: url("../assets/bg2.jpg");
    background-repeat: no-repeat;

    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    text-align: right;
}

#main {
	padding: 250px 0 600px;
    text-align: center;
}

#logo {
	margin: 0 auto 50px;
	display: block;
}

#fileName {
	margin-bottom: 10px;
}

#upload_btn {
    width: 200px;
    height: 43px;
    /*background: url(http://placehold.it/200x35&text=ChooseFileButton.jpg);*/
    overflow: hidden;
    font-size: 18px;
}

#upload_btn p {
    margin-top: 2px;
}

#upload_btn input {
    display: block !important;
    width: 100% !important;
    height: 100% !important;
    opacity: 0 !important;
    overflow: hidden !important;
}
#upload_btn input {
    cursor: pointer;
}
#upload_btn_txt {
    position: absolute;
    top: 12px;
    left: 70px;
}

/*
 .o88o.                         .                      
 888 `"                       .o8                      
o888oo   .ooooo.   .ooooo.  .o888oo  .ooooo.  oooo d8b 
 888    d88' `88b d88' `88b   888   d88' `88b `888""8P 
 888    888   888 888   888   888   888ooo888  888     
 888    888   888 888   888   888 . 888    .o  888     
o888o   `Y8bod8P' `Y8bod8P'   "888" `Y8bod8P' d888b    
*/
footer{
    height: 80px;
    color:#ccc;
    font-size:12px;

    position:relative;
    z-index:-2;

    background-color:#31353a;

    background-image:-webkit-linear-gradient(top, #31353a, #2f3337);
    background-image:-moz-linear-gradient(top, #31353a, #2f3337);
    background-image:linear-gradient(top, #31353a, #2f3337);
}

#footer_menu li {
    top: 35px;
    position: relative;
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

/*
oooo                        o8o              
`888                        `"'              
 888   .ooooo.   .oooooooo oooo  ooo. .oo.   
 888  d88' `88b 888' `88b  `888  `888P"Y88b  
 888  888   888 888   888   888   888   888  
 888  888   888 `88bod8P'   888   888   888  
o888o `Y8bod8P' `8oooooo.  o888o o888o o888o 
                d"     YD                    
                "Y88888P'                    
*/
.login_contents {
    background-color: rgba(10,10,10,0.8);
    width: 800px;
    height: 100%;
    margin: auto;
    margin-top: -100px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}
#login_left_column {
    margin-bottom: 40px;
}
.login_forms input {
    margin-bottom: 10px;
}
#login_logo {
    margin-top: 40px;
}